html {
  scroll-behavior: smooth !important;
}

/* General Body Styles */
body {
  font-family: "Outfit", serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  scroll-behavior: smooth !important;
}

:root {
  accent-color: #fbbf24;
}

/* Header */
header {
  color: #e60000;
  background-color: #ffffff;
  padding: 20px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header h1 {
  font-size: 30px;
  font-weight: bold;
}

header nav ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

header nav a {
  text-decoration: none;
  color: #e60000;
  font-weight: 600;
}

header nav a:hover {
  color: #7c0c0c;
}

/* Footer Section */
footer {
  background-color: #0f172a;
  padding: 40px 50px;
  color: #ffffff;
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

footer .footer-content .footer-column {
  width: 30%;
}

footer .footer-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #e60000;
}

footer .footer-content ul {
  list-style: none;
  padding: 0;
}

footer .footer-content ul li {
  margin-bottom: 10px;
}

footer .footer-content ul li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

footer .footer-content ul li a:hover {
  color: #fbbf24;
}

footer .footer-bottom {
  background-color: #0f172a;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
}

/* Swiper Styles */
.swiper {
  width: 100%;
  height: auto;
}

.swiper-content {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(255, 185, 185);
  background: linear-gradient(270deg, rgba(255, 185, 185, 0) 65%, rgba(255, 185, 185, 0) 74%, rgb(220, 38, 38) 91%), linear-gradient(0deg, rgba(255, 185, 185, 0) 65%, rgba(255, 185, 185, 0) 74%, rgb(255, 255, 255) 91%);
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-title {
  z-index: 0;
  position: absolute;
  font-size: 80px;
  color: #ffffff;
  width: 400px;
  top: 40%;
  margin-left: 100px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.hero {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #e60000;
  text-align: center;
}

.hero-invert {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #e60000;
  text-align: center;
}

/* Grid Section */
.services-section {
  /*
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));*/
  display: flex;
  gap: 70px;
  margin-top: 50px;
  margin-bottom: 100px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 70px;
}

.service-card {
  position: relative;
  background-color: #f5f5f5;
  border-radius: 10px;
  /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);*/
  overflow: hidden;
  text-align: center;
  padding: 20px;
  flex: 0 30%;
}

.service-card img {
  width: 100%;
  height: 300px;
  object-fit: fill;
  border-radius: 10px;
}

.service-card svg {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  color: #ffffff;
}

.service-card h3 {
  margin-top: 20px;
  font-size: 36px;
  font-weight: 600;
  color: black;
  text-align: left;
  text-transform: uppercase;
}

.service-card p {
  margin-top: 10px;
  font-size: 16px;
  color: #4f4f4f;
  text-align: left;
}

/* Styling for SVG icons */
.service-icon {
  fill: #ffffff;
}

/* Hero Section */
.hero-section {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #0f172a;
  /*background: url('./assets/iconos/humo.png') no-repeat center center/cover;*/
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.hero-section h2 {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
  z-index: 2;
}

/* Client Section */
.client-section {
  /*background: linear-gradient(to bottom, #1e3a8a, #dc2626);
  background-color: #dc2626;*/
  /*
  background: rgb(220,38,38);
  background: linear-gradient(0deg, rgba(220,38,38,1) 75%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);*/
  background: rgb(220, 38, 38);
  background: linear-gradient(0deg, rgb(220, 38, 38) 72%, rgb(255, 185, 185) 100%, rgb(255, 185, 185) 100%);
  padding: 40px;
  text-align: center;
  color: #ffffff;
}

.client-section h3 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
  padding-top: 200px;
}

/* Client Grid */
.client-grid {
  display: flex;
  /*grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));*/
  gap: 15px;
  justify-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.client-logo {
  /*width: 13%;*/
  flex: 0 10%;
  height: 20vh;
  background-color: rgb(226, 50, 50);
  padding: 30px;
  align-content: center;
}

.m6 {
  flex: 0 25%;
}

.client-logo img {
  width: 100%;
  max-width: 150px;
  object-fit: contain;
}

/* Contact Form Section */
.contact-section {
  background-color: #dc2626;
  padding: 60px 200px;
  color: #ffffff;
}

.contact-section h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
}

.contact-form {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.contact-form .left, .contact-form .right {
  width: 48%;
}

.contact-form input::placeholder {
  color: #e60000;
  font-weight: 700;
}

.contact-form input::-webkit-input-placeholder {
  color: #e60000;
  font-weight: 700;
}

.contact-form input::-moz-placeholder {
  color: #e60000;
  font-weight: 700;
}

.contact-form input:-ms-input-placeholder {
  color: #e60000;
  font-weight: 700;
}

.contact-form input:-moz-placeholder {
  color: #e60000;
  font-weight: 700;
}

.contact-form textarea::placeholder {
  color: #e60000;
  font-weight: 700;
}

.contact-form textarea::-webkit-input-placeholder {
  color: #e60000;
  font-weight: 700;
}

.contact-form textarea::-moz-placeholder {
  color: #e60000;
  font-weight: 700;
}

.contact-form textarea:-ms-input-placeholder {
  color: #e60000;
  font-weight: 700;
}

.contact-form textarea:-moz-placeholder {
  color: #e60000;
  font-weight: 700;
}

.contact-form input,
.contact-form textarea {
  /*width: 100%;*/
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

.contact-form textarea {
  min-height: 150px;
}

.contact-form .select-result {
  margin-bottom: 100px;
}

.contact-form .select-result label {
  font-size: 16px;
  margin-right: 10px;
}

.contact-form .item-result input[type=radio] {
  margin-right: 10px;
}

.contact-form .checkbox {
  font-size: 14px;
  margin-bottom: 30px;
}

.contact-form .checkbox input {
  margin-right: 10px;
}

.politica {
  display: flex;
  gap: 30px;
}

.contact-form .check-politica input[type=checkbox] {
  content: "";
  height: 45px;
  width: 70px;
  margin: 0px;
}

.item-result {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  gap: 30px;
}

.item-result .round {
  position: relative;
}

.contact-form .item-result input[type=radio] {
  content: "";
  height: 45px;
  width: 45px;
  margin: 0px;
}

.contact-form .item-result input[type=radio]:checked + label {
  background-color: #fbbf24;
  border-color: #fbbf24;
}

.contact-form .item-result input[type=radio]:checked + label:after {
  opacity: 1;
}

.label-result {
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 14px;
  flex: 0 100%;
  /*margin-left: 30px;*/
}

.contact-form .submit-btn {
  background-color: #fbbf24;
  /*padding: 14px 40px;*/
  height: 40px;
  border: none;
  border-radius: 48px;
  font-size: 18px;
  color: #e60000;
  cursor: pointer;
  flex: 0 80%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.col-6 {
  flex: 0 45%;
}

.col-12 {
  flex: 0 95%;
}

.social {
  width: 45px;
  display: flex;
  padding: 0 20px;
  gap: 10px;
}

.social-invert {
  width: 45px;
  display: flex;
  gap: 10px;
}

.payment {
  width: 45px;
  display: flex;
  gap: 10px;
}

/*# sourceMappingURL=styles.css.map */
